.dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: white;
    color: black;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    position: fixed;
    left: 0;
    height: 100%;
  }
  
  .sidebar-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-right: 20%;
  }
  
  .sidebar-nav a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
    border-radius: 5px;
  }
  
  .sidebar-nav a.active,
  .sidebar-nav a:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
  }
  
  .nav-item,
  .sidebar-nav li {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease;
  }
  
  .nav-item.active,
  .nav-item:hover,
  .sidebar-nav li.active,
  .sidebar-nav li:hover {
    background-color: black;
    color: white;
  }
  
  .main-content {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
    margin-left: 250px; 
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
  }
  
  .search-bar input {
    padding: 10px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid black;
    
  }
  
  .profile-info {
    text-align: right;
  }
  
  .profile-name {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 60px;
    padding: 0%;
  }
  
  .profile-email {
    color: #7f8c8d;
    display: flex;
    justify-content: center;
    margin-right: 40px;
  }
  
  .sidebar-logo.with-underline {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-bottom: 5px;
    width: 100%;
  }
  
  .search-bar {
    position: relative;
    display: flex;
    align-items: center;
  
  }
  
  .search-bar input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
  }
  
  .search-bar .search-icon {
    margin-left: -30px;
    cursor: pointer;
    color: #555;
    font-size: 18px;
  }
  